
.icon-mail:before { content: '\e800'; } /* '' */
.icon-star:before { content: '\e801'; } /* '' */
.icon-star-empty:before { content: '\e802'; } /* '' */
.icon-star-half:before { content: '\e803'; } /* '' */
.icon-star-half-alt:before { content: '\e804'; } /* '' */
.icon-heart:before { content: '\e805'; } /* '' */
.icon-heart-empty:before { content: '\e806'; } /* '' */
.icon-search:before { content: '\e807'; } /* '' */
.icon-user:before { content: '\e808'; } /* '' */
.icon-picture:before { content: '\e809'; } /* '' */
.icon-camera:before { content: '\e80a'; } /* '' */
.icon-ok:before { content: '\e80b'; } /* '' */
.icon-cancel:before { content: '\e80c'; } /* '' */
.icon-plus:before { content: '\e80d'; } /* '' */
.icon-plus-squared-alt:before { content: '\e80e'; } /* '' */
.icon-minus-squared-alt:before { content: '\e80f'; } /* '' */
.icon-minus:before { content: '\e810'; } /* '' */
.icon-home:before { content: '\e811'; } /* '' */
.icon-tag:before { content: '\e812'; } /* '' */
.icon-tags:before { content: '\e813'; } /* '' */
.icon-thumbs-up:before { content: '\e814'; } /* '' */
.icon-thumbs-down:before { content: '\e815'; } /* '' */
.icon-share:before { content: '\e816'; } /* '' */
.icon-gamepad:before { content: '\e817'; } /* '' */
.icon-comment-empty:before { content: '\e818'; } /* '' */
.icon-bell:before { content: '\e819'; } /* '' */
.icon-calendar:before { content: '\e81a'; } /* '' */
.icon-menu:before { content: '\e81b'; } /* '' */
.icon-phone:before { content: '\e81c'; } /* '' */
.icon-folder-open-empty:before { content: '\e81d'; } /* '' */
.icon-folder-empty:before { content: '\e81e'; } /* '' */
.icon-calendar-empty:before { content: '\e81f'; } /* '' */
.icon-clock:before { content: '\e820'; } /* '' */
.icon-lightbulb:before { content: '\e821'; } /* '' */
.icon-down-dir:before { content: '\e822'; } /* '' */
.icon-up-dir:before { content: '\e823'; } /* '' */
.icon-left-dir:before { content: '\e824'; } /* '' */
.icon-right-dir:before { content: '\e825'; } /* '' */
.icon-down-open:before { content: '\e826'; } /* '' */
.icon-left-open:before { content: '\e827'; } /* '' */
.icon-right-open:before { content: '\e828'; } /* '' */
.icon-up-open:before { content: '\e829'; } /* '' */
.icon-angle-left:before { content: '\e82a'; } /* '' */
.icon-angle-right:before { content: '\e82b'; } /* '' */
.icon-angle-up:before { content: '\e82c'; } /* '' */
.icon-angle-down:before { content: '\e82d'; } /* '' */
.icon-angle-double-left:before { content: '\e82e'; } /* '' */
.icon-angle-double-right:before { content: '\e82f'; } /* '' */
.icon-angle-double-up:before { content: '\e830'; } /* '' */
.icon-angle-double-down:before { content: '\e831'; } /* '' */
.icon-award:before { content: '\e832'; } /* '' */
.icon-globe:before { content: '\e833'; } /* '' */
.icon-list-numbered:before { content: '\e834'; } /* '' */
.icon-list-bullet:before { content: '\e835'; } /* '' */
.icon-off:before { content: '\e836'; } /* '' */
.icon-check:before { content: '\e837'; } /* '' */
.icon-check-empty:before { content: '\e838'; } /* '' */
.icon-chart-bar:before { content: '\e839'; } /* '' */
.icon-chart-pie:before { content: '\e83a'; } /* '' */
.icon-floppy:before { content: '\e83b'; } /* '' */
.icon-sort-name-up:before { content: '\e83c'; } /* '' */
.icon-sort-name-down:before { content: '\e83d'; } /* '' */
.icon-facebook-squared:before { content: '\e83e'; } /* '' */
.icon-facebook:before { content: '\e83f'; } /* '' */
.icon-facebook-official:before { content: '\e840'; } /* '' */
.icon-gplus:before { content: '\e841'; } /* '' */
.icon-gplus-squared:before { content: '\e842'; } /* '' */
.icon-instagram:before { content: '\e843'; } /* '' */
.icon-twitch:before { content: '\e844'; } /* '' */
.icon-tumblr:before { content: '\e845'; } /* '' */
.icon-tumblr-squared:before { content: '\e846'; } /* '' */
.icon-steam:before { content: '\e847'; } /* '' */
.icon-steam-squared:before { content: '\e848'; } /* '' */
.icon-twitter-squared:before { content: '\e849'; } /* '' */
.icon-twitter:before { content: '\e84a'; } /* '' */
.icon-whatsapp:before { content: '\e84b'; } /* '' */
.icon-windows:before { content: '\e84c'; } /* '' */
.icon-youtube:before { content: '\e84d'; } /* '' */
.icon-youtube-squared:before { content: '\e84e'; } /* '' */
.icon-youtube-play:before { content: '\e84f'; } /* '' */
.icon-newspaper:before { content: '\e850'; } /* '' */
.icon-history:before { content: '\e851'; } /* '' */
.icon-quote-left:before { content: '\e852'; } /* '' */
.icon-quote-right:before { content: '\e853'; } /* '' */
.icon-beer:before { content: '\e854'; } /* '' */
.icon-dollar:before { content: '\e855'; } /* '' */
.icon-spotify:before { content: '\e856'; } /* '' */
.icon-database:before { content: '\e857'; } /* '' */
.icon-filter:before { content: '\e858'; } /* '' */
.icon-certificate:before { content: '\e859'; } /* '' */
.icon-android:before { content: '\e85a'; } /* '' */
.icon-at:before { content: '\e85b'; } /* '' */
.icon-copyright:before { content: '\e85c'; } /* '' */
.icon-target:before { content: '\e85d'; } /* '' */
.icon-retweet:before { content: '\e85e'; } /* '' */
.icon-code:before { content: '\e85f'; } /* '' */