---
layout: default
permalink: /colecionando/colecao-pessoal/
---
<div class="page-title">
  <img width="96" height="96" src="/imgs/icone-colecao-pessoal.png"><br>
  <h1>Coleção Pessoal</h1>
</div>

<div class="home">
  <div class="post-list">
    {% for post in site.categories.colecionando %}
      {% if post.categories contains "colecionando" and post.categories contains "colecao-pessoal" %}
        {% include article-preview.html show_category="false" %}

        {% assign loopindex = forloop.index | modulo: 5 %}
        {% if loopindex == 1 %}
          {% include googleads.html %}
        {% endif %}

      {% endif %}
    {% endfor %}
  </div>
</div>

{% include side-menu.html %}
