---
layout: default
permalink: /colecionando/
sitemap:
    priority: 0.7
    changefreq: 'monthly'
    lastmod: 2016-08-11T19:40:30-03:00
---
<div class="page-title">
  <img width="96" height="96" src="/imgs/icone-colecionando.png"><br>
  <h1>Colecionando</h1>
</div>

<div class="home">

  <p>Aqui você encontra:</p>

  <div class="submenu-cards">

    <a href="/colecionando/colecao-pessoal">
      <img width="96" height="96" src="/imgs/icone-colecao-pessoal.png">
      <br>Coleção Pessoal
    </a>

    <a href="/colecionando/edicao-colecionador">
      <img width="96" height="96" src="/imgs/icone-edicao-colecionador.png">
      <br>Ed. Colecionador
    </a>

    <a href="/colecionando/mosca-branca">
      <img width="96" height="96" src="/imgs/icone-mosca-branca.png">
      <br>Mosca Branca
    </a>

    <a href="/utilidade-publica">
      <img width="96" height="96" src="/imgs/icone-utilidade-publica.png">
      <br>Utilidade Pública
    </a>

    <!--
    <a href="/colecionando/toplist">
      <img width="96" height="96" src="/imgs/icone-listas.png">
      <br>Listas
    </a>
    -->

  </div>

  {% include googleads.html %}

</div>

{% include side-menu.html %}
