---
layout: default
permalink: /jogando/
sitemap:
    priority: 0.7
    changefreq: 'monthly'
    lastmod: 2016-08-11T19:40:30-03:00
---

<div class="page-title">
  <img width="96" height="96" src="/imgs/icone-jogando.png"><br>
  <h1>Jogando</h1>
</div>


<div class="home">

  <p>
    Na seção <b>Jogando</b> é onde você encontra os mais diversos assuntos sobre os jogos e consoles em si (não sobre seu colecionismo)!
    Estão mais ou menos dividos desta forma:
  </p>

  <div class="submenu-cards">

    <a href="/jogando/analise">
      <img width="96" height="96" src="/imgs/icone-analises.png">
      <br>Análises<br>
      <small>Análises de jogos e hardware!</small>
    </a>

    <a href="/jogando/especial">
      <img width="96" height="96" src="/imgs/icone-especiais.png">
      <br>Especiais<br>
      <small>Posts especiais sobre eventos, memes e coisas do tipo</small>
    </a>

    <a href="/jogando/toplist">
      <img width="96" height="96" src="/imgs/icone-listas.png">
      <br>Toplists<br>
      <small>Listas variadas como: jogos favoritos, ruins, que gostaríamos de jogar e por aí vai..</small>
    </a>

    <a href="/jogando/trofeus">
      <img width="96" height="96" src="/imgs/icone-trophy.png">
      <br>Troféus<br>
      <small>Dicas dedicadas aos caçadores de troféus de plantão!</small>
    </a>

  </div>


  {% include googleads.html %}

</div>

{% include side-menu.html %}
