---
layout: default
permalink: /jogando/
sitemap:
    priority: 0.7
    changefreq: 'monthly'
    lastmod: 2016-08-11T19:40:30-03:00
---

<div class="page-title">
  <img width="96" height="96" src="/imgs/icone-jogando.png"><br>
  <h1>Jogando</h1>
</div>


<div class="home">

  <p>Aqui você encontra:</p>

  <div class="submenu-cards">

    <a href="/jogando/analise">
      <img width="96" height="96" src="/imgs/icone-analises.png">
      <br>Análises
    </a>

    <a href="/jogando/especial">
      <img width="96" height="96" src="/imgs/icone-especiais.png">
      <br>Especiais
    </a>

    <a href="/jogando/toplist">
      <img width="96" height="96" src="/imgs/icone-listas.png">
      <br>Toplists
    </a>

    <a href="/jogando/trofeus">
      <img width="96" height="96" src="/imgs/icone-trophy.png">
      <br>Troféus
    </a>

  </div>


  {% include googleads.html %}

</div>

{% include side-menu.html %}
