---
layout: default
permalink: /loja/
sitemap:
    priority: 0.7
    changefreq: 'monthly'
    lastmod: 2016-08-11T19:40:30-03:00
---
<div class="page-title">
  <img width="96" height="96" src="/imgs/icone-loja.png"><br>
  <h1>Vendas de Usados</h1>
</div>

<p style="padding: 0 10px">
  Bem-vindo à nossa venda de usados! Aqui você encontrará alguns jogos repetidos
  (e outras coisas) que estão à venda pelo <b>Mercado Livre</b>. Se interessar por algo, é só clicar
  no item para ver mais detalhes! ;)
</p>

<div class="home">

  <div class="vitrine">

    {% include vitrine.html
      titulo="BioShock Infinite (PS3)"
      thumb="/imgs/loja/bioshock_infinite_ps3.jpg"
      url="https://produto.mercadolivre.com.br/MLB-965632788-jogo-bioshock-infinite-p-ps3-_JM"
      valor="42" %}

    {% include vitrine.html
      titulo="Bloodborne (PS4)"
      thumb="/imgs/loja/bloodborne_ps4.jpg"
      url="https://produto.mercadolivre.com.br/MLB-979688434-jogo-bloodborne-lacrado-_JM"
      valor="70" %}

    {% include vitrine.html
      titulo="Book of Spells (PS3)"
      thumb="/imgs/loja/book_of_spells_ps3.jpg"
      url="https://produto.mercadolivre.com.br/MLB-979697431-jogo-book-of-spells-para-ps3-jogo-livro-_JM"
      valor="75" %}

    {% include vitrine.html
      titulo="Sonic Chaos (MS)"
      thumb="/imgs/loja/sonic_chaos.jpg"
      url="https://produto.mercadolivre.com.br/MLB-979698068-jogo-sonic-chaos-para-master-system-_JM"
      valor="60" %}

  </div>


  {% include googleads.html %}

</div>

{% include side-menu.html %}
