---
layout: default
permalink: /loja/
sitemap:
    priority: 0.7
    changefreq: 'monthly'
    lastmod: 2016-08-11T19:40:30-03:00
---
<div class="page-title">
  <img width="96" height="96" src="/imgs/icone-loja.png"><br>
  <h1>Venda de Usados</h1>
</div>



<div class="home">

  <p align="center" style="padding-bottom:20px">
    Você pode encontrar os joguinhos que estou vendendo nos dois canais abaixo, só escolher!
  </p>

  <p align="center">
    <a href="https://vgscomcerveja.mercadoshops.com.br/nossos-produtos" target="_blank" style="margin-right:20px">
      <img src="/imgs/mercado-livre-logo.jpg">
    </a>
    ou 
    <a href="https://shopee.com.br/felipebbarbosa" target="_blank" style="margin-left:20px">
      <img src="/imgs/shopee-logo.jpg">
    </a>
  </p>

  <p>
    <img src="/imgs/loja.jpg">
  </p>

  {% include googleads.html %}

</div>

{% include side-menu.html %}

<div class="wrapper">
  {% include disqus.html %}
</div>
