---
layout: default
permalink: /loja/
sitemap:
    priority: 0.7
    changefreq: 'monthly'
    lastmod: 2016-08-11T19:40:30-03:00
---
<div class="page-title">
  <img width="96" height="96" src="/imgs/icone-loja.png"><br>
  <h1>Venda de Usados</h1>
</div>

<p style="padding: 0 10px">
  Bem-vindo à nossa venda de usados! Aqui você encontrará alguns jogos repetidos
  (e outras coisas) que estão à venda pelo <b>Mercado Livre</b>. Se interessar por algo, é só clicar
  no item para ver mais detalhes! ;)
</p>

<div class="home">

  <div class="vitrine">

    {% include vitrine.html
      titulo="BioShock Infinite"
      thumb="/imgs/loja/bioshock_infinite_ps3.jpg"
      url="https://produto.mercadolivre.com.br/MLB-965632788-jogo-bioshock-infinite-p-ps3-_JM"
      valor="40" %}

    {% include vitrine.html
      titulo="Bloodborne"
      thumb="/imgs/loja/bloodborne_ps4.jpg"
      url="https://produto.mercadolivre.com.br/MLB-1017785086-jogo-bloodborne-lacrado-_JM"
      valor="70" %}

    {% include vitrine.html
      titulo="CoD: Black Ops"
      thumb="/imgs/loja/cod_black_ops.jpg"
      url="https://produto.mercadolivre.com.br/MLB-1080850667-call-of-duty-black-ops-ps3-_JM"
      valor="35" %}

    {% include vitrine.html
      titulo="FIFA Soccer 09"
      thumb="/imgs/loja/fifa09.jpg"
      url="https://produto.mercadolivre.com.br/MLB-1028289515-fifa-soccer-09-ps3-_JM"
      valor="15" %}

    {% include vitrine.html
      titulo="Grand Theft Auto IV"
      thumb="/imgs/loja/gta4.jpg"
      url="https://produto.mercadolivre.com.br/MLB-1028280981-grand-theft-auto-iv-ps3-_JM"
      valor="30" %}

    {% include vitrine.html
      titulo="Metal Gear Solid 4"
      thumb="/imgs/loja/mgs4.jpg"
      url="https://produto.mercadolivre.com.br/MLB-1028281317-metal-gear-solid-4-ps3-_JM"
      valor="20" %}

    {% include vitrine.html
      titulo="Mindjack"
      thumb="/imgs/loja/mindjack.jpg"
      url="https://produto.mercadolivre.com.br/MLB-1080872517-jogo-mindjack-ps3-_JM"
      valor="35" %}

    {% include vitrine.html
      titulo="Ski-doo"
      thumb="/imgs/loja/ski-doo.jpg"
      url="https://produto.mercadolivre.com.br/MLB-1028278885-ski-doo-snowmobile-challenge-ps3-_JM"
      valor="120" %}

    {% include vitrine.html
      titulo="SpongeBob"
      thumb="/imgs/loja/spongebob.jpg"
      url="https://produto.mercadolivre.com.br/MLB-1080879346-jogo-spongebob-squarepants-creature-from-the-krusty-krab-_JM"
      valor="40" %}

  </div>

  <p>Caso se interesse por algo e o anúncio do Mercado Livre está finalizado, consulte a disponibilidade!</p>



  {% include googleads.html %}

</div>

{% include side-menu.html %}

<div class="wrapper">
  {% include disqus.html %}
</div>
