---
layout: default
permalink: /microsoft/
sitemap:
    priority: 0.7
    changefreq: 'monthly'
    lastmod: 2018-01-04T19:40:30-03:00
---

<div class="page-title">
  <img src="/imgs/tags/microsoft.png" style="margin: 20px 0; max-height: 120px; max-width: 400px;">
</div>

<div class="home">

  <table class="partners-table">
    <tr onclick="document.location.href='/tag/xbox'">
      <td><img src="/imgs/tags/xbox.png"></td>
      <td><b>Xbox</b><br>2001</td>
    </tr>
    <tr onclick="document.location.href='/tag/xbox-360'">
      <td><img src="/imgs/tags/xbox-360.png"></td>
      <td><b>Xbox 360</b><br>2005</td>
    </tr>
    <tr onclick="document.location.href='/tag/xbox-one'">
      <td><img src="/imgs/tags/xbox-one.png"></td>
      <td><b>Xbox One</b><br>2013</td>
    </tr>
    <tr onclick="document.location.href='/tag/pc'">
      <td><img src="/imgs/tags/microsoft.png"></td>
      <td><b>PC</b><br>---</td>
    </tr>
  </table>

  {% include googleads.html %}

</div>

{% include side-menu.html %}
