---
layout: default
permalink: /parceiros/
sitemap:
    priority: 0.7
    changefreq: 'monthly'
    lastmod: 2018-01-02T19:40:30-03:00
---
<div class="page-title">
  <img width="96" height="96" src="/imgs/icone-jogando.png"><br>
  <h1>Parceiros</h1>
</div>

<div class="home">

  <p>Aqui você encontra todos os parceiros e amigos do blog, cujo os conteúdos são ótimos e recomendo! :)</p>
  <p>Caso você também tenha um blog/site e interesse em formar uma parceira, entre contato através do link abaixo!</p>

  <p style="text-align:center">
    <br>
    <a href="https://goo.gl/forms/K2pYcjgaqFVEwCy42"
       style="font-size:1em; background-color:#2288bb; border:0; color:white; padding:8px 15px;"
       target="_blank">Seja um parceiro!</a>
  </p>
<br>
  <table class="partners-table">
    <tr>
      <td>
        <a href="http://www.arquivosdowoo.com.br/" target="_blank" title="Arquivos do Woo">
          <img src="/imgs/arquivos-woo.png">
        </a>
      </td>
      <td><b>Arquivos do Woo</b><br>http://www.arquivosdowoo.com.br</td>
    </tr>
    <tr>
      <td>
        <a href="https://gamercaduco.com/" target="_blank" title="Gamer Caduco">
          <img src="/imgs/gamer-caduco.png">
        </a>
      </td>
      <td><b>Gamer Caduco</b><br>https://gamercaduco.com</td>
    </tr>
    <tr>
      <td>
        <a href="http://www.locadoraresidentivo.com" target="_blank" title="Locadora Resident Ivo">
          <img src="/imgs/locadora-resident-ivo.png">
        </a>
      </td>
      <td><b>Locadora Resident Ivo</b><br>http://www.locadoraresidentivo.com</td>
    </tr>
    <tr>
      <td>
        <a href="https://vaojogar.com.br/" target="_blank" title="Vão Jogar!">
          <img src="/imgs/vao-jogar.png">
        </a>
      </td>
      <td><b>Vão Jogar!</b><br>https://vaojogar.com.br</td>
    </tr>

  </table>

  <br>{% include googleads.html %}<br>

</div>

{% include side-menu.html %}
