---
layout: default
permalink: /sega/
sitemap:
    priority: 0.7
    changefreq: 'monthly'
    lastmod: 2018-01-04T19:40:30-03:00
---

<div class="page-title">
  <img src="/imgs/tags/sega.png" style="margin: 20px 0; max-height: 120px; max-width: 400px;">
</div>

<div class="home">

  <p>Escolha um console:</p>

  <table class="partners-table">
    <tr onclick="document.location.href='/tag/master-system'">
      <td><img src="/imgs/tags/master-system.png"></td>
      <td><b>Master System</b><br>1987</td>
    </tr>
    <tr onclick="document.location.href='/tag/mega-drive'">
      <td><img src="/imgs/tags/mega-drive.png"></td>
      <td><b>Mega Drive</b><br>1988</td>
    </tr>
    <tr onclick="document.location.href='/tag/game-gear'">
      <td><img src="/imgs/tags/game-gear.png"></td>
      <td><b>Game Gear</b><br>1990</td>
    </tr>
    <tr onclick="document.location.href='/tag/saturn'">
      <td><img src="/imgs/tags/saturn.png"></td>
      <td><b>Saturn</b><br>1994</td>
    </tr>
    <tr onclick="document.location.href='/tag/dreamcast'">
      <td><img src="/imgs/tags/dreamcast.png"></td>
      <td><b>Dreamcast</b><br>1998</td>
    </tr>
  </table>

  {% include googleads.html %}

</div>

{% include side-menu.html %}
