---
layout: default
permalink: /sony/
sitemap:
    priority: 0.7
    changefreq: 'monthly'
    lastmod: 2018-01-04T19:40:30-03:00
---

<div class="page-title">
  <img src="/imgs/tags/sony.png" style="margin: 20px 0; max-height: 120px; max-width: 400px;">
</div>

<div class="home">

  <p>Escolha um console:</p>

  <table class="partners-table">
    <tr onclick="document.location.href='/tag/ps1'">
      <td><img src="/imgs/tags/ps1.png"></td>
      <td><b>PlayStation</b><br>1994</td>
    </tr>
    <tr onclick="document.location.href='/tag/ps2'">
      <td><img src="/imgs/tags/ps2.png"></td>
      <td><b>PlayStation 2</b><br>2000</td>
    </tr>
    <tr onclick="document.location.href='/tag/psp'">
      <td><img src="/imgs/tags/psp.png"></td>
      <td><b>PSP</b><br>2004</td>
    </tr>
    <tr onclick="document.location.href='/tag/ps3'">
      <td><img src="/imgs/tags/ps3.png"></td>
      <td><b>PlayStation 3</b><br>2006</td>
    </tr>
    <tr onclick="document.location.href='/tag/psvita'">
      <td><img src="/imgs/tags/psvita.png"></td>
      <td><b>PS Vita</b><br>2011</td>
    </tr>
    <tr onclick="document.location.href='/tag/ps4'">
      <td><img src="/imgs/tags/ps4.png"></td>
      <td><b>PlayStation 4</b><br>2013</td>
    </tr>
  </table>

  {% include googleads.html %}

</div>

{% include side-menu.html %}
