<article>

  {% if include.show_category %}
    <span class="post-category" style="margin:none;">{{ post.session }}</span>
  {% endif %}

  {% if post.thumbnail %}
    <div class="post-cover">
      {% assign thumb = post.thumbnail | split: "." | first %}
      <picture>
        <source type="image/webp" srcset="{{ thumb }}.webp">
        <img src="{{ post.thumbnail }}" alt="{{ post.title }} Cover">
      </picture>
    </div>
  {% endif %}

  <h2 class="post-title">
    {% if post.external %}
      <a class="post-link" href="{{ post.external }}" target="_blank">
        {{ post.title }}
        <small class="post-external-name">[{{ post.session }} <span class="icon-link-ext"></span>]</small>
      </a>
    {% else %}
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    {% endif %}
  </h2>

  <div class="post-meta">
    {% assign author = site.data.authors[post.author] %}
    {% if author %}
      <a href="{{ author.site }}" target="_blank">
        <span class="post-author icon-user">{{ author.name }}</span>
      </a>
    {% endif %}
    <span class="post-date icon-calendar">{{ post.date | date: "%b %-d, %Y" }}</span>
    <span class="post-comments icon-comment-empty"><a href="{{ post.url }}#disqus_thread"></a></span>
  </div>

  <div class="post-sinopse">
    <p>{{ post.excerpt }}</p>
    {% if post.external %}
      <a class="read-more" href="{{ post.external }}" target="_blank">
        Ler no {{ post.session }} <span class="icon-link-ext"></span>
      </a>
    {% else %}
      <a class="read-more" href="{{ post.url | prepend: site.baseurl }}">
        Continue lendo
      </a>
    {% endif %}
    
  </div>
</article>
