<div class="image-grid" id="{{ include.name }}">
  {% for i in (1..include.count) %}
    <img id="item-{{ i }}" class="item-collection" 
      {% if include.image_width %} width="{{ include.image_width }}" {% endif %}
      src="{{ include.base_url }}{{ i }}.{{ include.image_ext }}" 
      onclick="addInCollection({{ i }})">
  {% endfor %}
</div>

<p style="text-align:right;font-weight:bold">TOTAL: <span id="collection-count"></span> / {{ include.count }}</p>

<script>
  const collectionName = document.querySelector(".image-grid").id;
  var collectionList = JSON.parse(localStorage.getItem(collectionName)) || [];

  listCollection();

  function addInCollection(id) {
    const itemFound = Array.prototype.find.call(collectionList, item => item == id);

    if (!Array.isArray(collectionList)) {
      collectionList = [];
    }

    if (itemFound === undefined) {
      collectionList.push(id);
    } else {
      collectionList.splice(collectionList.indexOf(itemFound), 1);
    }

    localStorage.setItem(collectionName, JSON.stringify(collectionList));
    listCollection();

  }

  function listCollection() {
    clearCollection();
    Array.prototype.forEach.call(collectionList, function(item) {
      var itemEl = document.getElementById("item-" + item.toString());
      itemEl.classList.add("item-checked");
    });

    var collectionCount = document.getElementById("collection-count");
    collectionCount.innerHTML = collectionList.length;
  }

  function clearCollection() {
    var items = document.querySelectorAll(".item-collection");
    Array.prototype.forEach.call(items, function(item) {
      item.classList.remove("item-checked");
    });
  }
</script>