<div class="ficha-tecnica">
  <div>
    <img border="0" src="{{ page.game_cover }}">
  </div>
  <div>
    <h1>{{ include.titulo }}</h1>
    <h4>{{ include.plataforma }}</h4>
    <br>
    <b>Desenvolvido por: </b>{{ include.desenvolvedor }}<br>
    <b>Publicado por: </b>{{ include.publicador }}<br>
    <b>Data de Lançamento: </b>{{ include.lancamento }}<br>
    <b>Gênero: </b>{{ include.genero }}<br>
    <br>
    <b>Finalizado em: </b>{{ include.data }}
    <br><br>
    <b>Nota: </b>{{ include.nota }}
  </div>
</div>
