<footer class="site-footer">
  &copy; 2021 Videogames com Cerveja

  <br>

  <a href="/sobre/blog/">Sobre</a>
  |
  <a href="/parceiros">Parceiros</a>
  |
  <a href="https://goo.gl/forms/p3bhAcAWAaKvR6QS2" target="_blank">Contato</a>
  |
  <a href="/newsletter">Newsletter</a>
  |
  <a href="/loja">Loja</a>
  |
  <span>
    {% for socialLink in site.data.social_links %}
      <a href="{{ socialLink.url }}" title="{{ socialLink.title }}" class="{{ socialLink.classe }}"></a>
    {% endfor %}
  </span><br>
  <small>
    Os ícones utilizados no site foram feitos por <a href="https://icons8.com">Icons8</a> e 
    os emojis por <a href="https://www.flaticon.com/br/autores/roundicons" title="Roundicons">Roundicons</a>
    do <a href="https://www.flaticon.com/br/" title="Flaticon">Flaticon</a>.
  </small>
</footer>

<script src="{{ "/js/lightbox-plus-jquery.min.js" | prepend: site.baseurl }}"></script>

<script src="{{ "/js/header.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/spoiler.js" | prepend: site.baseurl }}"></script>

<!-- Facebook Pixel Code -->

<!-- End Facebook Pixel Code -->

{% if site.enable_googleads %}
  <!-- code here adsense -->
{% endif %}
