<div style="border: 1px solid #ccc; margin-bottom: 10px; padding: 10px">
  <span>{{ include.platinas }} <img src="/imgs/trofeu-platina.png" height="50" title="Platina"></span>
  <span>{{ include.ouros }} <img src="/imgs/trofeu-ouro.png" height="50" title="Ouro"></span>
  <span>{{ include.pratas }} <img src="/imgs/trofeu-prata.png" height="50" title="Prata"></span>
  <span>{{ include.bronzes }} <img src="/imgs/trofeu-bronze.png" height="50" title="Bronze"></span>
  <br><b>Dificuldade:</b> {{ include.dificuldade }}/5
  <br><b>Tempo estimado p/ platina:</b> {{ include.tempo }}
  <br><b>Mínimo de jogadas:</b> {{ include.jogadas }}
  <br><b>Tem troféus online?:</b> {{ include.online }}
  <br><b>Nota para o jogo:</b> {{ include.nota }}/5
</div>
