<header class="site-header">

  <div id="header-logo">
    <a class="site-title" href="{{ site.baseurl }}/">
      <object id="logo-grande" data="{{ '/imgs/logo_verde.svg' | prepend: site.baseurl }}" type="image/svg+xml">
        <!-- TODO: carregar imagem de fallback -->
      </object>

      <img id="logo-pequeno" src="{{ '/imgs/logo_branco.svg' | prepend: site.baseurl }}"
          onerror="this.src={{ '/imgs/logo-branco.png' | prepend: site.baseurl }}">
      </object>
    </a>
  </div>

  <input type="checkbox" id="control-nav">
  <label for="control-nav" class="control-nav"></label>
  <label for="control-nav" class="control-nav-close"></label>

  <nav class="site-nav">
    <ul>
      {% for nav in site.data.menu %}
        {% if nav.subitems != null %}
          <li class="has-submenu">
            <a class="{{ nav.classe }}" href="{{ nav.url | prepend: site.baseurl }}" title="{{ nav.title }}">
              <span>{{ nav.title }}</span><span class="icon-angle-down">
            </a>
            <ul class="submenu">
              {% for sub in nav.subitems %}
                <li>
                  <a href="{{ sub.url | prepend: site.baseurl }}">
                    {% if sub.logo %}
                      <img src="{{ sub.logo }}" width="130px">
                    {% else %}
                      {{ sub.title }}
                    {% endif %}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% else %}
          <li>
            <a class="{{ nav.classe }}" href="{{ nav.url | prepend: site.baseurl }}" title="{{ nav.title }}">
              <span class="nav-hide">
                {{ nav.title }}
              </span>
            </a>
          </li>
        {% endif %}
      {% endfor %}
      <span class="social-links">
        {% for socialLink in site.data.social_links %}
          <li>
            <a class="{{ socialLink.classe }}" href="{{ socialLink.url | prepend: site.baseurl }}" title="{{ socialLink.title }}"></a>
          </li>
        {% endfor %}
      </span>
    </ul>
  </nav>

</header>
