<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <meta property="fb:pages" content="157027331034690" />

    <meta property="og:title" content="{{ page.title }}"/>
    <meta property="og:type" content="article" />
    <meta property="og:description" content="{{ site.description }}" />
    <meta property="og:site_name" content="{{ site.title }}" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@vgscomcerveja">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:creator" content="@felipebbarbosa">

    <link rel="shortcut icon" type="image/png" href="{{ '/imgs/favicon.png' }}">

    <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Roboto:400,300,100">
    <link rel="stylesheet" href="{{ '/css/animation.css' | prepend: site.baseurl }}">
    <!--[if IE 7]><link rel="stylesheet" href="{{ '/css/vcc-ie7.css' | prepend: site.baseurl }}><![endif]-->
    <link rel="stylesheet" href="{{ '/css/vcc.min.css' | prepend: site.baseurl }}">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">


</head>
