<header class="site-header">

  <div id="header-logo">
    <a class="site-title" href="{{ site.baseurl }}/">
      <object id="logo-grande" data="{{ '/imgs/logo_verde.svg' | prepend: site.baseurl }}" type="image/svg+xml">
        <!-- TODO: carregar imagem de fallback -->
      </object>

      <img id="logo-pequeno" src="{{ '/imgs/logo_branco.svg' | prepend: site.baseurl }}"
          onerror="this.src={{ '/imgs/logo-branco.png' | prepend: site.baseurl }}">
      </object>
    </a>
  </div>

  <input type="checkbox" id="control-nav">
  <label for="control-nav" class="control-nav"></label>
  <label for="control-nav" class="control-nav-close"></label>

  <nav class="site-nav">
    <ul>
      {% for nav in site.data.menu %}
        {% if nav.subitems != null %}
          <li class="submenu-link">
            <a class="{{ nav.classe }}" href="{{ nav.url | prepend: site.baseurl }}"
                title="{{ nav.title }}">
              <span class="nav-link-title">{{ nav.title }}</span><span class="icon-angle-down">
            </a>
            <ul class="submenu">
              {% for sub in nav.subitems %}
              <li>
                <a href="{{ sub.url | prepend: site.baseurl }}">
                  {{ sub.title }}
                </a>
              </li>
              {% endfor %}
            </ul>
          </li>
        {% else %}
          <li>
            <a class="{{ nav.classe }}" href="{{ nav.url | prepend: site.baseurl }}"
                title="{{ nav.title }}">

              <span class="nav-link-title nav-link-title-without-sub">
                {% if nav.showtitle %}
                  {{ nav.title }}
                {% endif %}
              </span>

            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>

</header>
