{% capture image_title %}
  {% if include.description != null %}
    {{ include.description }}
  {% endif %}
{% endcapture %}

{% capture data_lightbox %}
  {% if include.collection != null %}
    {{ include.collection }}
  {% else %}
    {{ include.url }}
  {% endif %}
{% endcapture %}

{% assign img = include.url | split: "." | first %}

<figure 

  {% if include.full != null %}
    style="width:100%"
  {% endif %}
>
  <a href="{{ include.url }}"
     data-lightbox="{{ data_lightbox }}"
     data-title="{{ image_title }}">

    <picture>
      <source type="image/webp" srcset="{{ img }}.webp">
      <img src="{{ include.url }}" alt="{{ image_title }}">
    </picture>
  </a>
  {% if include.description != null %}
    <figcaption>
      {{ image_title }}
      {% if include.credits %}
        {% if include.credits_type %}
          - {{ include.credits_type }}:
        {% else %}
          - Imagem:
        {% endif %}
        {% if include.credits_link %}
          <a href="{{ include.credits_link }}" target="_blank">
        {% endif %}
        {{ include.credits }}
        {% if include.credits_link %}
          </a>
        {% endif %}
      {% endif %}
    </figcaption>
  {% endif %}
</figure>
