<div class="psn-game-card">
  <div class="psn-game-card-col1">
    <img src="{{ include.cover }}">
  </div>
  <div class="psn-game-card-col2">
    <h3><a href="{{ include.link }}">{{ include.title }}</a></h3>
    <span title="Preço">{{ include.price }}</span>
    {% if include.difficulty %}<span title="Dificuldade">{{ include.difficulty }}</span>{% endif %}
    {% if include.duration %}<span title="Tempo">{{ include.duration }}</span>{% endif %}
    {% if include.obs %}
      <br>
      <small>
        {% if include.obsLink %}
          <a href="{{ include.obsLink }}" target="_blank">
        {% endif %}
        {{ include.obs }}
        {% if include.obsLink %}
          </a>
        {% endif %}
      </small>
    {% endif %}
  </div>

</div>
