<div class="partners">
  <a href="https://www.facebook.com/vgscomcerveja" target="_blank" title="Facebook">
    <img src="/imgs/facebook.png" alt="Facebook">
  </a>
  <a href="https://www.twitter.com/vgscomcerveja" target="_blank" title="Twitter">
    <img src="/imgs/twitter.png" alt="Twitter">
  </a>
  <a href="https://www.instagram.com/vgscomcerveja" target="_blank" title="Instagram">
    <img src="/imgs/instagram.png" alt="Instagram">
  </a>
  <a href="https://www.youtube.com/vgscomcerveja" target="_blank" title="YouTube">
    <img src="/imgs/youtube.png" alt="YouTube">
  </a>
</div>
