<aside class="side-menu">
  <h2>Facebook</h2>
  <div class="fb-page" data-href="https://www.facebook.com/vgscomcerveja"
       data-tabs="timeline" data-small-header="false"
       data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
    <blockquote cite="https://www.facebook.com/vgscomcerveja" class="fb-xfbml-parse-ignore">
      <a href="https://www.facebook.com/vgscomcerveja">Videogames com Cerveja</a>
    </blockquote>
  </div>

  <h2>Instagram</h2>
  <!-- LightWidget WIDGET -->
  <script src="//lightwidget.com/widgets/lightwidget.js"></script>
  <iframe src="//lightwidget.com/widgets/0c130ee12e995b68b9567c5a3cbb7b4b.html"
          scrolling="no" allowtransparency="true" class="lightwidget-widget"
          style="width: 100%; border: 0; overflow: hidden;">
  </iframe>

  <h2>Parceiros</h2>
  <div class="partners">
    <a href="https://gamercaduco.com/" target="_blank" title="Gamer Caduco">
      <img src="/imgs/gamer-caduco.png">
    </a>
    <a href="http://vaojogar.com.br/" target="_blank" title="Vão Jogar!">
      <img src="/imgs/vao-jogar.png">
    </a>
  </div>

  <h2>Publicidade</h2>

  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- vgscomcerveja_menulateral -->
  <ins class="adsbygoogle"
       style="display:inline-block;width:300px;height:600px"
       data-ad-client="ca-pub-9886080722871656"
       data-ad-slot="6168124708"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</aside>
