<aside class="side-menu">

  <p>
    <img src="/imgs/felipebbarbosa.png" height="150px">
    <br><br>
    Olá, eu sou o Felipe e bem-vindo ao <br><b>Videogames com Cerveja</b>!
    <br><br>
    Este é o lugar onde compartilho minhas experiências e opiniões gamísticas,
    tanto quanto ao jogo em si, quanto ao seu colecionismo! :)
  </p>

  <p>
    <a href="https://my.playstation.com/profile/felipebbarbosa" target="_blank" title="PSN">
      <img src="/imgs/playstation.png" width="50px">
    </a>
    <a href="https://account.xbox.com/pt-BR/Profile?xr=felipebbarbosa" target="_blank" title="Xbox LIVE">
      <img src="/imgs/xbox.png" width="45px">
    </a>
    <a href="http://steamcommunity.com/id/felipebbarbosa/" target="_blank" title="Steam">
      <img src="/imgs/steam.png" width="45px">
    </a>

    |

    <a href="https://twitter.com/felipebbarbosa" target="_blank" title="Twitter">
      <img src="/imgs/twitter-2.png" width="45px">
    </a>
    <a href="https://www.instagram.com/felipebbarbosa/" target="_blank" title="Instagram">
      <img src="/imgs/instagram-2.png" width="50px">
    </a>

  </p>

  <a href="/newsletter" title="VCC Newsletter">
    <img src="/imgs/tags/vcc-newsletter.png">
  </a>

  <h2>Publicidade</h2>

  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- vgscomcerveja_menulateral -->
  <ins class="adsbygoogle"
       style="display:inline-block;width:300px;height:600px"
       data-ad-client="ca-pub-9886080722871656"
       data-ad-slot="6168124708"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>

  <h2>Parceiros</h2>

  {% include parceiros.html %}

  <h2>#vgscomcerveja</h2>

  {% include instagram.html id="BlN9gyllydS" %}

  <h2>Colunas e Séries</h2>

  {% for nav in site.data.menu %}
    {% if nav.slug == 'series' %}
      {% for sub in nav.subitems %}
        <a href="{{ sub.url }}" title="{{ sub.title }}">
          <img src="{{ sub.logo }}" width="150px" style="margin:5px">
        </a>
      {% endfor %}
    {% endif %}
  {% endfor %}

</aside>
