<aside class="side-menu">

  <p>
    <img src="/imgs/felipebbarbosa.png" height="150px">
    <br><br>
    Olá, eu sou o Felipe e bem-vindo ao <br><b>Videogames com Cerveja</b>!
    <br><br>
    Este é o lugar onde compartilho minhas experiências e opiniões gamísticas,
    tanto quanto ao jogo em si, quanto ao seu colecionismo! :)
  </p>

  <p>
    <a href="https://my.playstation.com/profile/felipebbarbosa" target="_blank" title="PSN">
      <img src="/imgs/playstation.png" width="50px">
    </a>
    <a href="https://account.xbox.com/pt-BR/Profile?xr=felipebbarbosa" target="_blank" title="Xbox LIVE">
      <img src="/imgs/xbox.png" width="45px">
    </a>
    <a href="http://steamcommunity.com/id/felipebbarbosa/" target="_blank" title="Steam">
      <img src="/imgs/steam.png" width="45px">
    </a>

    |

    <a href="https://twitter.com/felipebbarbosa" target="_blank" title="Twitter">
      <img src="/imgs/twitter-2.png" width="45px">
    </a>
    <a href="https://www.instagram.com/felipebbarbosa/" target="_blank" title="Instagram">
      <img src="/imgs/instagram-2.png" width="50px">
    </a>

  </p>

  <!--<p><b>Agora com posts novos todas as terças e/ou quintas! \o/</b></p>-->

  <div class="featured-box">
    <a href="/newsletter">Assine nossa <b>Newsletter!</b></a>
  </div>

  <p><span>É grátis. Sem propagandas. Sem spam.</span></p>

  <h2>Publicidade</h2>

  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- vgscomcerveja_menulateral -->
  <ins class="adsbygoogle"
       style="display:inline-block;width:300px;height:600px"
       data-ad-client="ca-pub-9886080722871656"
       data-ad-slot="6168124708"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>

  <h2>Parceiros</h2>

  {% include parceiros.html %}

  <h2>#vgscomcerveja</h2>

  {% include instagram.html id="BlN9gyllydS" %}

  <h2>Venda de Usados</h2>

  <div class="featured-box">
    <a href="/loja">Acesse nossa loja!</a>
  </div>


</aside>
