<div class="display-flex">
<a href="http://www.facebook.com/vgscomcerveja">
  <img src="http://i328.photobucket.com/albums/l346/vgscomcerveja/02_facebook_zps8ddtnvss.png" alt="Facebook">
</a>

<a href="http://www.twitter.com/vgscomcerveja">
  <img src="http://i328.photobucket.com/albums/l346/vgscomcerveja/01_twitter_zpstqzx3zn4.png" alt="Twitter">
</a>

<a href="https://www.instagram.com/vgscomcerveja/">
  <img src="http://i328.photobucket.com/albums/l346/vgscomcerveja/10_instagram_zpsygy4molr.png" alt="Instagram">
</a>

<a href="http://vgscomcerveja.tumblr.com/">
  <img src="http://i328.photobucket.com/albums/l346/vgscomcerveja/15_tumblr_zpswi2pbukw.png" alt="Tumblr">
</a>

<a href="https://plus.google.com/u/0/b/111556768346884042042/+VideogamescomcervejaBlogspot">
  <img src="http://i328.photobucket.com/albums/l346/vgscomcerveja/14_google_zpszzxqaby4.png" alt="Google+">
</a>

<a href="http://alvanista.com/vgscomcerveja">
  <img src="http://i328.photobucket.com/albums/l346/vgscomcerveja/25_alvanista_zpsesv62ccz.png" alt="Alvanista">
</a>

<a href="https://www.youtube.com/user/vgscomcerveja">
  <img src="http://i328.photobucket.com/albums/l346/vgscomcerveja/03_youtube_zps7nsjc4uc.png" alt="YouTube">
</a>
</div>
