/**
 * Cabeçalho
 */
.site-header {
    position: fixed;
    width: 100%;
    height: 191px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    -webkit-transition: height 0.12s;
    -moz-transition: height 0.12s;
    -ms-transition: height 0.12s;
    -o-transition: height 0.12s;
    transition: height 0.12s;
    text-align: center;
    background-color: #fff;
    border-bottom: 4px solid #ccc;

    .site-nav {
        position: fixed;
        width: 100%;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.1em;
        font-weight: 400;

        ul {
            text-align: center;
            list-style: none;
        }

        li {
            position: relative;
            display: inline;
            padding: 15px 10px;
        }

        li.submenu-link {
            padding: 15px 10px 15px 20px;
        }

        li a {
            color: gray;
            margin: 0 auto;
        }

        li:hover {
            background-color: #f0f0f0;
            border-bottom: 4px solid $verde-vcc;
            color: $verde-vcc;
        }

        li:hover .submenu {
            display: block;
        }

        .submenu {
            position: absolute;
            top: 55px;
            left: 0;
            background-color: $verde-vcc-escuro;
            z-index: 1000;
            display: none;
            padding: 0;
            margin: 0;
            border-top: 4px solid $verde-vcc;
            width: 100%;
            color: #fff;
            font-size: 0.9em;
        }

        .submenu li {
            display: block;
            padding: 10px 20px;
            text-align: left;

            a { color: white; }
        }

        .submenu li:hover {
            background-color: $verde-vcc;
            border: 0;
        }
    }
}

#header-logo #logo-grande {
    width: 800px;
    margin-top: 20px;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}

#header-logo #logo-pequeno {
    display: none;
}

#control-nav {
    visibility: hidden;
    position: absolute;
    left: -9999px;
    opacity: 0;
}

#control-nav:checked ~ .control-nav-close {
  -webkit-transform: translate(0,0);
  -ms-transform: translate(0,0);
  transform: translate(0,0);
}

#control-nav:checked ~ nav {
  -webkit-transform: translate(0,0);
  -ms-transform: translate(0,0);
  transform: translate(0,0);
}


/**
 * Cabeçalho pequeno
 */
.site-header.smaller {
    background-color: $verde-vcc;
    border-bottom: 4px solid $verde-vcc-escuro;
    height: 60px;

    .site-nav {
        position: relative;
        float: right;
        width: auto;

        ul { margin: 0; }

        li {
            position: relative;
            float: left;
            display: inline;

            a { color: #fff; }
        }

        li:hover {
            color: #fff;
            background-color: $verde-vcc-escuro;
            border-bottom: 4px solid #375626;
        }
    }

    .submenu {
        background-color: gray;

        li a:hover { color: orange; }

        li:hover {
            background-color: inherit;
            border: 0;
        }
    }
}

#header-logo.smaller #logo-pequeno {
    display: block;
    float: left;
    width: 300px;
    margin: 8px 10px 2px;
}

#header-logo.smaller #logo-grande {
    display: none;
}



/*
 * Cabeçalho on mobile devices
 */
@media screen and (max-width: $on-palm) {
    .site-header {
        background-color: $verde-vcc;
        border-bottom: 4px solid $verde-vcc-escuro;
        height: 60px;

        .site-nav {
            position: fixed;
            width: 250px;
            top: 60px;
            right: 0;
            bottom: 0;
            background-color: gray;
            overflow-x: auto;
            z-index: 3;
            -webkit-transition: all 500ms ease;
            transition: all 500ms ease;
            -webkit-transform: translate(100%, 0);
            -ms-transform: translate(100%, 0);
            transform: translate(100%, 0);

            ul {
                margin: 0;
                padding: 0;
                width: 100%;
            }

            li {
                display: block;

                a { color: #fff; }
            }

            li:hover {
                background-color: #ccc;
                border: 0;
            }
        }

        .submenu {
            top: 50px;
            border: 0;
        }

        .control-nav {
            position: absolute;
            right: 20px;
            top: 20px;
            display: block;
            width: 30px;
            padding: 5px 0;
            border: solid #fff;
            border-width: 3px 0;
            z-index: 3;
            cursor: pointer;
            color: #fff;
        }

        .control-nav:before {
            content: "";
            display: block;
            height: 3px;
            background: #fff;
        }

        .control-nav-close {
            position: fixed;
            right: 0;
            top: 0;
            bottom: 0;
            left: 0;
            display: block;
            z-index: 1;
            -webkit-transition: all 500ms ease;
            transition: all 500ms ease;
            -webkit-transform: translate(100%, 0);
            -ms-transform: translate(100%, 0);
            transform: translate(100%, 0);
        }

    }

    #header-logo #logo-pequeno {
        display: block;
        float: left;
        width: 300px;
        margin: 8px 10px 2px;
    }

    #header-logo #logo-grande {
        display: none;
    }


}



/**
 * Rodapé
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    margin: 192px auto 30px;
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
