/**
 * Cabeçalho
 */
.site-header {
  position: relative;
  z-index: 999;
  -webkit-transition: height 0.12s;
  -moz-transition: height 0.12s;
  -ms-transition: height 0.12s;
  -o-transition: height 0.12s;
  transition: height 0.12s;
  text-align: center;
  border-bottom: 4px solid #ccc;
  background-color: white;

  .site-nav {
    font-family: "Open Sans", sans-serif;
    font-size: 1.1em;
    font-weight: 400;

    ul {
      text-align: center;
      list-style: none;
      margin: 0;
    }

    li {
      position: relative;
      display: inline-block;
      padding: 15px 10px 10px;

      a {
        color: gray;
        margin: 0 auto;
      }
    }

    li.has-submenu {
      padding-left: 18px;
    }

    li:hover {
      background-color: #f0f0f0;
      color: $vcc-color;
    }

    li:hover .submenu {
      display: block;
    }

    .nav-hide {
      display: none;
    }

    .submenu {
      position: absolute;
      top: 50px;
      left: 0;
      background-color: white;
      z-index: 1000;
      display: none;
      padding: 0;
      margin: 0;
      width: 100%;
      color: gray;
      font-size: 0.85em;
      border: 1px solid #ececec;
    }

    .submenu li {
      display: block;
      padding: 10px 20px !important;
      text-align: left;

      a {
        color: gray;
      }
    }

    .submenu li:hover {
      background-color: #cacaca;
      border: 0;
    }
  }
}

#header-logo #logo-grande {
  width: 800px;
  margin-top: 20px;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
}

#header-logo #logo-pequeno {
  display: none;
}

#control-nav {
  visibility: hidden;
  position: absolute;
  left: -9999px;
  opacity: 0;
}

#control-nav:checked ~ .control-nav-close {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

#control-nav:checked ~ nav {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

/*
 * Cabeçalho on mobile devices
 */
@media screen and (max-width: $on-palm) {
  .site-header {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: $vcc-color;
    border-bottom: 4px solid $vcc-color-escuro;

    .site-nav {
      position: fixed;
      width: 100%;
      top: 59px;
      right: 0;
      bottom: 0;
      background-color: white;
      padding: 10px;
      overflow-x: auto;
      z-index: 3;
      -webkit-transition: all 500ms ease;
      transition: all 500ms ease;
      -webkit-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
      transform: translate(100%, 0);

      ul {
        margin: 0;
        padding: 0;
        width: 100%;
      }

      li {
        display: block;

        text-align: left;
        font-variant: small-caps;
        text-transform: lowercase;

        a {
          color: gray;
          margin: 0px;
          display: block;
          width: 100%;
        }

        .icon-angle-down {
          display: none;
        }
      }

      li:hover {
        background-color: white;
        border: 0;
      }

      .social-links {
        margin-top: 10px;
        display: flex;
        justify-content: center;
      }

      .nav-hide {
        display: inline;
      }

      .submenu {
        display: block;
        width: 100%;
        border: 0;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        position: initial;

        li {
          display: inline-flex;
          font-variant: normal;
          text-transform: none;
          width: 160px;
          padding: 10px 5px !important;
          text-align: center;
        }

        li:hover {
          background-color: white;
        }
      }
    }

    .control-nav {
      position: absolute;
      right: 20px;
      top: 20px;
      display: block;
      width: 30px;
      padding: 5px 0;
      border: solid #fff;
      border-width: 3px 0;
      z-index: 3;
      cursor: pointer;
      color: #fff;
    }

    .control-nav:before {
      content: "";
      display: block;
      height: 3px;
      background: #fff;
    }

    .control-nav-close {
      position: fixed;
      right: 0;
      top: 0;
      bottom: 0;
      left: 0;
      display: block;
      z-index: 1;
      -webkit-transition: all 500ms ease;
      transition: all 500ms ease;
      -webkit-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
      transform: translate(100%, 0);
    }
  }

  #header-logo #logo-pequeno {
    display: block;
    float: left;
    width: 300px;
    margin: 8px 10px 2px;
  }

  #header-logo #logo-grande {
    display: none;
  }
}

/**
 * Rodapé
 */
.site-footer {
  margin: 0;
  background-color: $vcc-color-escuro;
  color: white;
  width: 100%;
  padding: 12px;
  text-align: center;

  a {
    color: white;
    text-transform: uppercase;
    font-variant: small-caps;
    font-size: 0.8em;
  }
}

/**
 * Page content
 */
.page-content {
  padding: 25px 0;
  background-color: #f7f9fb;
  background: url(../imgs/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  p {
    line-height: 1.6em;
    text-indent: 2em;
  }

  @media (max-width: $on-palm) {
    padding: 0;
    margin: 60px 0 0 0;
  }

  .main-wrapper {
    background-color: rgba(255, 255, 255, 1);
  }
}

.page-content.smaller {
  margin-top: 230px;
}

.page-heading {
  font-size: 20px;
}

.no-indent {
  text-indent: 0 !important;
}

.home {
  float: left;
  width: 65%;
  padding-right: 15px;
  margin-bottom: $spacing-unit;

  @include media-query($on-palm) {
    width: 100%;
    padding-right: 0;
  }
}

.side-menu {
  float: left;
  width: 35%;
  padding: 15px;
  text-align: center;
  margin-bottom: $spacing-unit;

  @include media-query($on-palm) {
    width: 100%;
    margin-top: $spacing-unit;
  }

  p {
    text-indent: 0;
  }

  h2 {
    color: gray;
    font-size: 1.5em;
    text-transform: lowercase;
    font-variant: small-caps;
    margin-top: 30px;
  }
}

.partners {
  img {
    height: 75px;
    margin: 5px;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 300px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;

  img {
    max-height: 75px;
    max-width: 180px;
    width: auto;
    height: auto;
    margin: 10px 5px;
  }
}

.post-list {
  display: flex;
  flex-wrap: wrap;

  > article {
    margin: $spacing-unit auto;
    padding: 20px;
    overflow: hidden;
    text-align: right;
    background-color: white;
    width: 50%;

    @include media-query($on-smartphone) {
      width: 100%;

      h2 {
        font-size: 2.3em;
      }
    }

    p {
      padding: 0 20px 10px;
      text-align: left;
      line-height: 1.5em;
      font-weight: normal;
      font-size: 1.2em;
    }

    h2 {
      font-size: 1.8em;
    }
  }

  article:first-child {
    margin-top: 0;
    width: 100%;

    h2 {
      font-size: 2.3em;
    }
  }
}

.post-cover {
  width: 100%;
  margin-bottom: 10px;
  float: left;
  text-align: center;

  img {
    width: 100%;
  }
}

.post-sinopse {
  width: 100%;
  float: left;
  text-align: center;

  .post-meta {
    justify-content: center !important;
  }

  p {
    padding: 0 !important;
    margin-bottom: 15px !important;
    font-size: 0.9em !important;
    text-align: left;
    text-indent: 2em;
  }
}

.post-share {
  padding-top: 10px;

  a {
    color: white;
    font-size: 1.1em;
  }
  .share-twitter {
    background-color: #02acec;
    padding: 7px;
  }
  .share-facebook {
    background-color: #284a85;
    padding: 7px;
  }
  .share-google {
    background-color: #dd4b39;
    padding: 7px;
  }
}

.post-category {
  background-color: $second-color;
  font-weight: normal;
  text-transform: uppercase;
  padding: 1px 10px;
  color: white;
  border-bottom: 3px solid $second-color-dark;
  font-size: 0.7em;
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
  margin-bottom: 10px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  span {
    padding: 0 5px;
  }

  span:before {
    margin-right: 8px;
  }
}

.read-more {
  padding: 7px 30px;
  text-align: left;
  color: #2288bb;
  border: 1px solid #2288bb;
}

.read-more:hover {
  background-color: #2288bb;
  color: white !important;
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
  text-align: center;
}

.post-title {
  text-align: center;
  font-size: 2.3em;
  letter-spacing: -1px;
  line-height: 1.1em;
  padding-top: 15px;
  text-rendering: optimizeLegibility;

  @include media-query($on-palm) {
    font-size: 1.7em;
  }
}

.post-content {
  margin-bottom: $spacing-unit;
  font-weight: normal;
  padding-left: $spacing-unit;
  padding-right: $spacing-unit;
  background-color: white;

  h2 {
    font-size: 32px;
    color: $brand-color;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;
    color: $brand-color;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;
    color: $brand-color;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }

  figure {
    width: 80%;
    margin: 0 auto 20px;
    //padding: 10px;
    //border: 1px solid #e8ebf2;
    //box-shadow: 2px 2px 10px #dcdcdc;

    img {
      width: 100%;
      //margin-bottom: 5px;
    }

    figcaption {
      background-color: #eee;
      padding: 5px 10px;
      text-align: left;
    }

    @include media-query($on-palm) {
      width: 100%;
    }
  }

  p {
    a {
      font-weight: bold;
    }
  }
}

.post-highlight {
  width: auto;
  //margin: -31px -31px 20px -31px;
  margin: $spacing-unit * (-1) - 1px;
  margin-bottom: 20px;

  @include media-query($on-laptop) {
    margin-right: ($spacing-unit / 2) * (-1) - 1px;
    margin-left: ($spacing-unit / 2) * (-1) - 1px;
  }
}

.post-navigation {
  display: block;
  width: 100%;
  overflow: hidden;
  background-color: #eee;

  a {
    display: block;
    width: 50%;
    float: left;
    color: black;
    padding: 20px 40px;

    small {
      font-size: 0.9em;
      font-variant: small-caps;
      font-weight: bold;
    }
  }

  a:hover {
    text-decoration: underline;
  }

  .next-post {
    text-align: right;
  }
}

.post-ads {
  text-align: center;
}

/*
 * Ficha Técnica
 */

.ficha-tecnica {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 1.5em;
    margin: 0;
  }

  h3 {
    font-size: 1em;
  }
}

.ficha-tecnica-cover {
  float: right;

  img {
    width: 150px;
  }

  @include media-query($on-palm) {
    width: 100%;
    float: left;
    margin-bottom: 10px;
  }
}

.rating {
  display: flex;
  justify-content: center;

  @include media-query($on-palm) {
    img {
      width: 50px;
      height: 50px;
    }
  }
}

/*
 * Paginator
 */

.pagination {
  text-align: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid $second-color;

  .previous,
  .next {
    color: white;
    background: $second-color;
    padding: 4px 30px 5px;
    line-height: 1em;
    font-variant: small-caps;
    text-transform: lowercase;
  }

  .previous:hover,
  .next:hover {
    background-color: $second-color-dark;
  }

  .previous {
    float: left;
  }
  .next {
    float: right;
  }

  .page-disabled,
  .page-disabled:before {
    opacity: 0;
  }
}

#disqus_thread {
  margin-top: 20px;
}

.display-flex {
  display: inline-flex;
}

.page-title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 100;
  margin-bottom: 20px;

  img {
    margin-bottom: 10px;
  }

  .tag-logo {
    margin: 20px 0;
    max-height: 120px;
    max-width: 360px;
  }

  p {
    text-transform: none;
    font-variant: normal;
    font-weight: normal;
  }
}

.submenu-cards {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;

  a {
    padding: 40px 10px;
    width: 240px;
    margin: 0px 10px 20px;
    color: #666;
    font-size: 1.2em;
    font-variant: small-caps;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 10px;
    text-align: center;
    background-color: #ecf0f1;
    border: 1px solid #ecf0f1;
    line-height: 1em;

    img {
      margin-bottom: 10px;
    }

    small {
      font-variant: normal;
      font-size: 0.7em;
      font-weight: 100;
      text-transform: none;
    }
  }

  a:hover {
    color: #2980b9;
    border-color: #2980b9;
  }
}

/*
 * loja
 */

.vitrine {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  a {
    border: 1px solid #ccc;
    width: 320px;
    padding: 20px;
    margin: 5px;

    span {
      font-size: 2em;
      font-weight: bold;
      color: white;
      background-color: $vcc-color-escuro;
      border-radius: 2px;
      padding: 0 30px;
      text-align: center;
    }

    img {
      margin-top: 10px;
    }
  }

  a:hover {
    opacity: 0.5;
  }
}

.featured-box {
  padding: 10px;
  border-radius: 2px;
  background-color: #2489bc;
  color: white;
  margin: 20px auto;
  text-align: center;

  a {
    color: white;
  }
}

.achivement-box {
  float: left;
  padding: 0;
  border-radius: 32px;
  color: white;
  background-color: #02770c;
  margin: 10px auto;
  width: 100%;
  font-size: 0.95em;

  img {
    float: left;
  }

  span {
    float: left;
    padding: 8px;
  }

  small {
    float: left;
    margin: 6px 0 0 6px;
    font-weight: 100;

    img {
      margin: 2px 5px;
    }
  }
}

/*
 * Newsletter 
 */

.lastest-newsletters {
  float: left;
  max-width: 880px;
  text-align: left;
  list-style: none;

  li {
    margin: 10px;
  }

  a {
    font-weight: normal !important;
  }
}

#mc_embed_signup {
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
}

/*
 * card trophies
 */
.trophy {
  float: left;
  width: 64px;
  height: 64px;
  text-align: center;
  padding-top: 8px;
  padding-left: 2px;
  color: white;
  letter-spacing: -1px;
}

/*
 * related-posts
 */
.related-posts {
  border-top: 3px solid #333;

  padding-top: 15px;
  margin: 0 auto;

  .related-posts-list {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;

    .rel {
      width: 200px;
      display: inline-block;
      padding: 5px;
      opacity: 0.8;

      h4 {
        font-size: 1.1em;
        text-align: center;
        line-height: 1.2em;
        padding-top: 2px;
      }
    }

    .rel:hover {
      opacity: 1;
    }
  }
}
