<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}

        <img src="http://imageshack.com/a/img921/3228/gEp8Pj.jpg">
        <img src="http://imageshack.com/a/img921/3228/gEp8Pj.jpg">
        <img src="http://imageshack.com/a/img921/3228/gEp8Pj.jpg">
        <img src="http://imageshack.com/a/img921/3228/gEp8Pj.jpg">
        <img src="http://imageshack.com/a/img921/3228/gEp8Pj.jpg">
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
