<!DOCTYPE html>
<html lang="br">

  {% include head.html %}

  <body>


    {% if layout.header != false %}
      {% include header.html %}
      <main class="page-content">
    {% else %}
      <main class="page-content" style="margin-top:0">
    {% endif %}

      <div class="main-wrapper wrapper">
        {{ content }}
      </div>

    </main>

    {% if layout.footer != false %}
      {% include footer.html %}
    {% endif %}

    {% if site.enable_disqus %}
      <script id="dsq-count-scr" src="//videogamescomcerveja.disqus.com/count.js" async></script>
    {% endif %}

    {% if site.enable_analytics %}
      <!-- code analytics here -->
    {% endif %}

  </body>

</html>
