---
layout: default
---

<div class="post">

  <header class="post-header">
    <span class="post-category">{{ page.session }}</span>
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-meta">
      <span class="post-author icon-user">{{ page.author }}</span>
      <span class="post-date icon-calendar">{{ page.date | date: "%b %-d, %Y" }}</span>
      <span class="post-comments icon-comment-empty"><a href="{{ page.url }}#disqus_thread"></a></span>
    </div>
  </header>

  <article class="post-content">
    <div class="wrapper">
      {{ content }}

      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- vgscomcerveja.com.br -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-9886080722871656"
           data-ad-slot="5378698703"
           data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>


      <div id="disqus_thread"></div>
      <script>
          /**
           *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
           *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
           */
          /*
          var disqus_config = function () {
              this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
              this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
          };
          */
          (function() {
              var d = document, s = d.createElement('script');

              s.src = '//videogamescomcerveja.disqus.com/embed.js';

              s.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(s);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    </div>
  </article>

</div>
