---
layout: default
---

<div class="post-highlight"
    style="background: url({{ page.cover  }}) 50% 50% / cover, 50% 50% no-repeat;"></div>

<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-meta">
      <span class="post-author icon-user">{{ page.author }}</span>
      <span class="post-date icon-calendar">{{ page.date | date: "%b %-d, %Y" }}</span>
      <span class="post-comments icon-comment-empty">0</span>
    </div>
  </header>

  <article class="post-content">
    <div class="wrapper">
      {{ content }}
    </div>
  </article>

</div>
