---
layout: default
---
{% assign post = page %}
{% if post.tags.size > 0 %}
  {% capture tags_content %}
    {% if post.tags.size == 1 %}
      <i class="icon icon-tag"></i>
    {% else %}
      <i class="icon icon-tags"></i>
    {% endif %}
  {% endcapture %}
  {% for post_tag in post.tags %}
    {% for data_tag in site.data.tags %}
      {% if data_tag.slug == post_tag %}
        {% assign tag = data_tag %}
      {% endif %}
    {% endfor %}
    {% if tag %}
      {% capture tags_content_temp %}
        {{ tags_content }}
        {% if tag.link != null %}
          <a href="/{{ tag.link }}/">{{ tag.name }}</a>
        {% else %}
          <a href="/tag/{{ tag.slug }}">{{ tag.name }}</a>
        {% endif %}
        {% if forloop.last == false %}, {% endif %}
      {% endcapture %}
      {% assign tags_content = tags_content_temp %}
    {% endif %}
  {% endfor %}
{% else %}
  {% assign tags_content = '' %}
{% endif %}

<div class="post">

  {% if page.cover %}
    <div class="post-highlight">
      <img class="" src="{{ page.cover }}">
    </div>
  {% endif %}

  <header class="post-header">
    <span class="post-category">{{ page.session }}</span>
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-meta">
      {% assign author = site.data.authors[page.author] %}
      {% if author %}
        <a href="{{ author.site }}" target="_blank">
          <span class="post-author icon-user">{{ author.name }}</span>
        </a>
      {% endif %}
      <span class="post-date icon-calendar">{{ page.date | date: "%b %-d, %Y" }}</span>
      <span class="post-comments icon-comment-empty"><a href="{{ page.url }}#disqus_thread"></a></span>
    </div>
    <div class="post-meta">
      <small>{{ tags_content }}</small>
    </div>
    <div class="post-meta">
      <small>{{ games_content }}</small>
    </div>

    <div class="post-share">

      <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Compartilhe no Twitter">
        <span class="icon-twitter share-twitter"></span>
      </a>
      <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Compartilhe no Facebook">
        <span class="icon-facebook share-facebook"></span>
      </a>
      <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Compartilhe no Google+">
        <span class="icon-google share-google"></span>
      </a>
    </div>

  </header>

  <div class="home">
    <article class="post-content">
      <div class="wrapper">
        {{ content }}
        {% include googleads.html %}

        <div class="related-posts">
          <h4>Talvez você também possa gostar de...</h4>

          <div class="related-posts-list">

            {% assign maxRelated = 6 %}
            {% assign maxRelatedCounter = 0 %}

            {% if page.related %}
              {% assign minCommonTags = 1 %}
            {% else %}
              {% assign minCommonTags = 2 %}
            {% endif %}

            {% for post in site.posts %}

              {% assign sameTagCount = 0 %}
              {% assign commonTags = '' %}

              {% if post.url != page.url %}

                {% for tag in post.tags %}
                  {% if page.related %}
                    {% if page.related == tag %}
                      {% assign sameTagCount = sameTagCount | plus: 1 %}
                      {% break %}
                    {% endif %}
                  {% else %}
                    {% if page.tags contains tag %}
                      {% assign sameTagCount = sameTagCount | plus: 1 %}
                    {% endif %}
                  {% endif %}
                {% endfor %}

                {% if sameTagCount >= minCommonTags %}
                  
                  <a href="{{ site.baseurl }}{{ post.url }}">
                    <div class="rel">
                      <img width="100%" src="{{ post.thumbnail }}">
                      <h4>{{ post.title }}</h4>
                    </div>
                  </a>
                  {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
                  {% if maxRelatedCounter >= maxRelated %}
                    {% break %}
                  {% endif %}
                {% endif %}
              {% endif %}

            {% endfor %}
          </div>

        </div>


      </div>
    </article>
  </div>

  {% include side-menu.html %}

  <div class="wrapper">
    <div class="post-navigation">
      {% if page.previous.url %}
        <a class="prev-post" href="{{page.previous.url}}">
          <small>post anterior</small><br>{{page.previous.title}}
        </a>
      {% endif %}
      {% if page.next.url %}
        <a class="next-post" href="{{page.next.url}}">
          <small>próximo post</small><br>{{page.next.title}}
        </a>
      {% endif %}
    </div>

    {% include disqus.html %}
  </div>
</div>
